@font-face {
   font-family: 'Starlight-w1VvZ';
   font-display: swap;
   src: url('file:///C:/Users/Rin/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-07-25_231812/fonts/Starlight-w1VvZ/font.otf');
}
