@font-face {
   font-family: 'StarLightMain';
   font-display: swap;
   src: url('file:///C:/Users/Rin/AppData/Local/Mobirise.com/Mobirise/projects/project-2026-02-10_014024/fonts/StarLightMain/font.woff');
}
