@font-face {
   font-family: 'Raleway-VariableFont_wght';
   font-display: swap;
   src: url('file:///C:/Users/Rin/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-07-25_231812/fonts/Raleway-VariableFont_wght/font.ttf');
}
